:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --Sm: 12px;
    --Md: 16px;
    --Lg: 18px
}

body{
    font-family: 'Quicksand', sans-serif;
}

.Main-Container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items:center;
}
.Main-Container .Container{
    display: grid;
    grid-template-columns: auto;
    width: 300px;
}

.Main-Container .Container .Titulo{
    font-size: var(--Lg);
    margin-bottom: 24px;
    text-align: center;
}


.Main-Container .Container form{
    display: flex;
    flex-direction: column;
}


.Main-Container .Container form .FormLabel{
    font-size: var(--Sm);
    font-weight: bold;
    margin-bottom: 16px;
}
.Main-Container .Container form .Datos{
    margin-bottom: 16px;
    border: none;
    background-color: var(--text-input-field);
    border-radius: 10px;
    height: 24px;
    padding: 6px;
    margin-bottom: 16px;
    font-size: var(--Sm);
}

.Main-Container .Container form #BotonC{
    height: 32px;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px var(--hospital-green);
    font-weight: bold;
    margin-top: 10px;
    color: var(--hospital-green);
    background-color: var(--white);
} 
