:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --Sm: 12px;
    --Md: 16px;
    --Lg: 18px
}

body{
    font-family: 'Quicksand', sans-serif;
}

.Main-Container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.Main-Container .Container{
    display: grid;
    grid-template-columns: auto;
    width: 300px;
    justify-items: center;
}

.Main-Container .Container .Logo{
    width: 150px;
    margin-bottom: 24px;
}

.Main-Container .Container .Titulo{
    font-size: var(--Lg);
    text-align: center;
}
.Main-Container .Container .Subtitulo{
    color: var(--very-light-pink);
    text-align: center;
    font-size: var(--Md);
    margin-bottom: 0;
}
.Main-Container .Container .Logo-Container{
    background-color: var(--text-input-field);
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    margin-top: 42px;
    margin-bottom: 42px;
}
.Main-Container .Container .Logo-Container .LogoEmail{
    position: absolute;
    right: 30px;
    bottom: 45px;
}
.Main-Container .Container #BotonI{
    width: 100%;
    background-color: var(--hospital-green);
    border: none;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 24px;
}

.Main-Container .Container .NullEmail{
    font-size: var(--Sm);
    color: var(--very-light-pink);
}

.Main-Container .Container .NullEmail a{
   color: var(--hospital-green);
   text-decoration: none;
}
